# ----------------------------------------
# DEPENDENCIAS
# ----------------------------------------
node_modules/
.pnp/
.pnp.js
yarn.lock
.yarn-integrity
.npm

# ----------------------------------------
# ARCHIVOS DE CONSTRUCCIÓN / PRODUCCIÓN
# ----------------------------------------
/build/
/dist/
/web-build/
/coverage/
/out/
/.next/
/.nuxt/

# ----------------------------------------
# EXPO / REACT NATIVE / NATIVO
# ----------------------------------------
.expo/
expo-env.d.ts
# Carpetas nativas generadas por prebuild (Continuous Native Generation)
/android
/ios
.gradle/
.idea/
.kotlin/
*.apk
*.aab
*.ipa
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ----------------------------------------
# TYPESCRIPT
*.tsbuildinfo
tsconfig.tsbuildinfo

# ----------------------------------------
# ARCHIVOS DE CONFIGURACIÓN DEL ENTORNO
# (dotenv)
.env
.env*.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.local

# ----------------------------------------
# LOGS Y DEBUG
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# ----------------------------------------
# TEMPORALES / SISTEMA OPERATIVO
*.swp
*.swo
.DS_Store
Thumbs.db
*.orig.*
*.pem
*.tgz

# ----------------------------------------
# HISTORIA DEL REPL / ESLINT CACHE
.node_repl_history
.eslintcache

# ----------------------------------------
# EDITORES / IDES
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ----------------------------------------
# TESTING / SNAPSHOTS / JEST
.jest/
__snapshots__/

# ----------------------------------------
# DOCUMENTACIÓN
/docs
